@import 'styles/variables';

.gridparent {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: row;
  gap: 2rem;
  padding: 0 0.75rem;
  min-width: 30rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $primaryBgAccent;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track:horizontal {
    margin: 0 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryBgAccent;
    border-radius: 4px;
  }
}

.sort__options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 1rem;

  span {
    font-size: $font-sm;
    font-weight: $font-w-500;
    color: $cardTextColor;
    cursor: pointer;
  }

  .active {
    color: $primaryText;
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.25rem;
    cursor: pointer;
  }
}

.page__title {
  margin-top: 0;
  font-weight: $font-w-600;
}

.add__new {
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  border-radius: 2rem;
  background-color: $primaryBgAccent;
  padding: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  .left {
    gap: 2rem;
  }

  &__avatar {
    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__text {
    white-space: nowrap;
    font-weight: 300;
    color: $cardTextColor;
  }

  &__icon {
    display: flex;
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
