// Colors
$primaryBg: hsl(0, 0%, 9%);
$primaryBgAccent: hsl(0, 0%, 15%);
$primaryText: hsl(50, 99%, 60%);
$secondaryText: hsl(49, 63%, 45%);
$tertiaryText: hsl(0, 0%, 29%);
$highlightWhite: hsl(223, 15%, 91%);
$shadowColor: hsla(0, 0%, 7%, 0.16);
$cardTextColor: hsla(0, 0%, 50%, 1);

// Font Sizes
$font-v-sm: 0.75rem;
$font-sm: 0.875rem; //14px
$font-normal: 1rem;
$font-med: 1.125rem; //18px

// Font weight
$font-w-400: 400;
$font-w-500: 500;
$font-w-600: 600;
$font-w-700: 700;
