@import 'styles/variables';

.card {
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 15rem;
  &__content {
    background-color: $primaryBgAccent;
    border-radius: 8px;
    padding: 2rem;

    .action__icons {
      gap: 1rem;
      display: none;
      svg {
        width: 1.25rem;
        height: 1.25rem;
        color: $cardTextColor;
        cursor: pointer;
      }
      .delete__icon svg:hover {
        color: hsl(0%, 60%, 40%);
      }
      .edit__icon svg:hover {
        color: $primaryText;
      }
    }
  }

  &__meta {
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 0.45rem;
  }

  &__details {
    font-size: $font-normal;
    font-weight: $font-w-500;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    button {
      outline: none;
      background: transparent;
      border: none;
      font-family: inherit;
      cursor: pointer;
    }

    .hackathon__info {
      text-overflow: ellipsis;
      overflow: hidden;
      .title__content {
        justify-content: space-between;
      }

      &__title {
        margin: 0;
        cursor: pointer;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      &__description {
        font-size: $font-sm;
        font-weight: $font-w-400;
        color: $cardTextColor;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      &__details {
        display: flex;
        justify-content: space-between;
        width: 9rem;
        align-items: center;
        font-size: $font-sm;
        font-weight: $font-w-400;
        color: $tertiaryText;
        transition: all ease-in-out 300ms;
        padding: 0;
        svg {
          position: relative;
          top: 2px;
          width: 14px;
          color: $primaryText;
          transition: all ease-in-out 300ms;
        }

        &:hover {
          color: $secondaryText;
          svg {
            transform: translateX(10px);
          }
        }
      }
    }

    .user__info {
      width: 100%;
      border-top: 2px solid $tertiaryText;
      padding-block-start: 1rem;
      justify-content: space-between;
      &__meta {
        .chip img {
          width: 1.5rem;
          height: 1.5rem;
        }
        .annotation {
          color: $tertiaryText;
          font-size: $font-v-sm;
          margin-left: 0.2rem;
          .name {
            margin-left: 0.2rem;
            color: $primaryText;
          }
        }
      }

      &__post {
        .date {
          font-size: $font-v-sm;
          color: $tertiaryText;
        }
      }
    }
  }
  &:hover {
    .action__icons {
      display: flex;
    }
  }
}
