@import 'styles/variables';

.back__btn {
  margin: 3rem;
  cursor: pointer;
  gap: 1rem;
  font-weight: $font-w-600;
  font-size: $font-sm;
  padding-left: 1.75rem;
  color: $cardTextColor;
  svg {
    width: 1.15rem;
    height: 1.15rem;
    color: $primaryText !important;
  }
  &:hover {
    color: $secondaryText;
  }
}

.challenge__info {
  flex-direction: column;
  padding: 0 5rem;
  margin: 0 auto;
  overflow: auto;
  min-width: 45rem;
  scrollbar-color: $primaryBgAccent;
  scroll-behavior: smooth;
  scrollbar-width: thin;

  .info__wrapper {
    overflow: auto;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 6px;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-track:horizontal {
      margin: 0 100px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primaryBgAccent;
      border-radius: 4px;
    }
  }
  &__title {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  &__description {
    margin-top: 3rem;
    font-size: $font-med;
    font-weight: $font-w-500;
    color: $cardTextColor;
    text-align: justify;
  }

  .challenge__user__info {
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    &__meta {
      .chip img {
        width: 1.5rem;
        height: 1.5rem;
      }
      .annotation {
        color: $tertiaryText;
        font-size: $font-v-sm;
        margin-left: 0.2rem;
        font-weight: $font-w-600;
        .name {
          margin-left: 0.2rem;
          color: $primaryText;
        }
      }
    }

    &__post {
      .date {
        display: block;
        font-size: $font-v-sm;
        color: $tertiaryText;
        font-weight: $font-w-600;
      }
    }
  }
}
