@import 'styles/variables';

.badge__container {
  margin-inline-end: 2rem;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  border-radius: 14px;
  color: $primaryText;
  cursor: pointer;
  transition: all ease-in-out 300ms;

  &__icon {
    svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: $cardTextColor;
      transition: all ease-in-out 300ms;
    }
  }
  &__label {
    margin: 0;
    font-weight: $font-w-700;
    color: $cardTextColor;
    transition: all ease-in-out 300ms;
  }

  &:hover {
    .badge__container__icon {
      svg {
        fill: $primaryText;
        transform: translateY(-10px);
      }
    }

    .badge__container__label {
      color: $primaryText;
    }
  }
}

.upvoted {
  .badge__container__icon {
    svg {
      fill: $primaryText;
      transform: none;
    }
  }
  .badge__container__label {
    color: $primaryText;
  }

  &:hover {
    .badge__container__icon {
      svg {
        transform: none;
      }
    }
  }
}
